<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

<!--    <bean id="musicBean"-->
<!--          class="spring.project.com.ClassicalMusic">-->
<!--    </bean>-->

    <bean id="classicalMusic"
        class="spring.project.com.ClassicalMusic">
    </bean>

    <bean id="rockMusic"
          class="spring.project.com.RockMusic">
    </bean>

    <bean id="darkMusic"
          class="spring.project.com.DarkMusic">
    </bean>

    <bean id="musicPlayer"
          class="spring.project.com.MusicPlayer">
        <property name="music">
            <list>
                <ref bean="classicalMusic"/>
                <ref bean="rockMusic"/>
                <ref bean="darkMusic"/>

            </list>
        </property>


        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>



</beans>